<h1>Registration</h1>
<div style="position: absolute;
margin: auto;
top: 0;
right: 0;
bottom: 0;
left: 0;
width: 300px;
height: 250px;
background-color: #E9E581;
border-radius: 12px;">
<ul style="list-style: none; margin-left: 10px;"> <!-- lol -->
<li style="margin-top: 30px;">
  <label style="padding-right:10px;">Username</label>
  {{input}}
</li>
<li style="margin-top: 30px;">
  <label style="padding-right:34px;">Email</label>
  {{input}}
</li>
<li style="margin-top: 30px;">
  <label style="padding-right:13px;">Password</label>
  {{input}}
</li>
<li style="margin-top: 30px;">
  <label for="password" style="padding-right:21px;">Confirm</label>
  {{input}}
</li>
<li style="margin-top: 15px; float: right; margin-right: 46px;">
  <button>Login</button>
</li>
<li>
  {{#if errorMessage}}
    <p>{{errorMessage}}</p>
  {{/if}}
</li>
</ul>
</div>
