<h1>Registration</h1>
<div class="registrationDiv">
<ul class="registrationList">
<li class="registrationListItem">
  <label id="registrationUserLabel">Username</label>
  {{input}}
</li>
<li class="registrationListItem">
  <label id="registrationEmailLabel">Email</label>
  {{input}}
</li>
<li class="registrationListItem">
  <label id="registrationPassLabel">Password</label>
  {{input}}
</li>
<li class="registrationListItem">
  <label id="registrationConfimLabel" for="password">Confirm</label>
  {{input}}
</li>
<li id="registrationButtonItem">
  <button>Login</button>
</li>
<li>
  {{#if errorMessage}}
    <p>{{errorMessage}}</p>
  {{/if}}
</li>
</ul>
</div>
